sc.txt
sc/*
sc[1;5!sc/sened-aciq.txt[1;5D[1;5D[D[D[D[D[D[D[D[D[ed-aciq.txt[3~
!sc/seed-aciq.txt
*
/*
!*
sc.txt
sc/*
!cc/seed-aciq.txt[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[1;5D[s[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C[1;5C
!sc/seed-aciq.txt
